@inherits ComponentBase

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirming the operation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this record? @AdditionalText
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="Confirm">Yes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Cancel">No</button>
                </div>
            </div>
        </div>
    </div>

@code {
    [Parameter] public string AdditionalText { get; set; }

    private TaskCompletionSource<bool> tcs;

    public async Task<bool> ShowConfirmationAsync()
    {
        tcs = new TaskCompletionSource<bool>();
        return await tcs.Task;
    }

    private void Confirm()
    {
        tcs.SetResult(true);
    }

    private void Cancel()
    {
        tcs.SetResult(false);
    }
}